<script>
  $('head').append('<%= stylesheet_link_tag 'acerca_de'%>');
  $('#u266').addClass('MuseMenuActive');
</script>

<div class="clearfix colelem" id="u821-6"><!-- content -->
  <h2 class="ts05-Subtitle-Allura" id="u821-2">¿Quiénes somos?</h2>
  <h1 class="ts05-Title-Graduate" id="u821-4">Bici Refacciones en Linea</h1>
</div>
<div class="clearfix colelem" id="u822"><!-- group -->
  <div class="clearfix grpelem" id="u819-17"><!-- content -->
    <p>&nbsp;</p>
    <p>Somos una empresa mexicana ecológicamente responsable, que busca impulsar el deporte y el uso de medios de transporte limpios en nuestra ciudad, estado y país.</p>
    <p>&nbsp;</p>
    <p>Con el avance de las nuevas tecnologías y nuestra dependencia a ellas, la practica de actividad física se ha ido reduciendo.</p>
    <p>&nbsp;</p>
    <p>En el estado de Chihuahua contamos con una diversidad de ecosistemas que nos regalan el escenario idóneo para la practica de deportes al aire libre, como lo es el ciclismo de montaña. Siendo un deporte de inercia y arriesgado, el ciclismo de montaña requiere el uso de equipo especial, el cual resulta muy costoso.</p>
    <p>&nbsp;</p>
    <p>De igual modo el impulsar el uso de la bicicleta como medio de transporte diario es una tarea que como sociedad deberíamos poner en practica.</p>
    <p>&nbsp;</p>
    <p>Con esto en mente traemos al mercado un producto que busca proporcionar apoyo a estos dos tipos de ciclistas (urbanos y de montaña), con una problemática común: alargar la vida de sus neumáticos ¿Nuestra propuesta? látex líquido.</p>
  </div>
</div>