body{
  background: #7F7F7F image-url("congruent_outline.jpg") repeat center center fixed;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 200px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	//background-color: #4D4D4D; lo quité tantito
  background-color: #EAEAEA;
	padding-bottom: 300px;
	margin-left: auto;
	margin-right: auto;
}

#u108
{
	z-index: 2;
	width: 960px;
	height: 150px;
	margin-right: -10000px;
}

#u132
{
	z-index: 3;
	width: 224px;
	margin-right: -10000px;
	left: 368px;
}

#u137
{
	z-index: 5;
	width: 960px;
	padding-bottom: 10px;
	margin-right: -10000px;
	margin-top: 150px;
}

#menuu154
{
	z-index: 6;
	width: 640px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 160px;
}

#u258
{
	width: 153px;
	min-height: 30px;
	margin-right: -10000px;
}

#u259
{
	width: 153px;
	padding-bottom: 13px;
}

#u279
{
	width: 153px;
	min-height: 30px;
	margin-right: -10000px;
	left: 162px;
}

#u280
{
	width: 153px;
	padding-bottom: 13px;
}

#u272
{
	width: 153px;
	min-height: 30px;
	margin-right: -10000px;
	left: 324px;
}

#u273
{
	width: 153px;
	padding-bottom: 13px;
}

#u259.MuseMenuActive,#u280.MuseMenuActive,#u273.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: -1px -2px -2px -1px;
}

#u261-4,#u282-4,#u275-4
{
	width: 153px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
}

#u265
{
	width: 154px;
	min-height: 30px;
	margin-right: -10000px;
	left: 486px;
}

#u266
{
	width: 154px;
	padding-bottom: 13px;
}

#u266.MuseMenuActive
{
	width: 151px;
	min-height: 0px;
	margin: -1px -2px -2px -1px;
}

#u268-4
{
	width: 154px;
	min-height: 17px;
	margin-right: -10000px;
	top: 6px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

